body {
	background-color: #000;
	min-width: 500pt;
	background-position: -40px -40px;
	color: rgba(255,255,255,.5);
	text-align: center;
	font-family: Helvetica, Arial;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
}

form {
	display: inline-block;
}

button {
	padding: 3;
	border: none;
	background: none;
	font-weight: bold;
	color: #fff;
	background-color: #e3ae24;
}

.container {
	width: 100%;
	height: auto;
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

#content{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0pt auto;
	width: 300pt;
	background-color: rgba(255,255,255,.1);
}

#header {
	color: white;
	font-family: Helvetica, Arial;
	font-size: 10vmin;
	margin-bottom: 30pt;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: #e3ae24;
	font-weight: bold;
}
a:hover {
	color: #fff;
}

#sContainer {
	height: 20pt;
}

#stockName {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-size: 18pt;
	padding-left: 5pt;
	width: 50%;
	display:inline-block;
	color: white;
	text-align: left;
}

#price {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: right;
	padding-right: 5pt;
	display:inline-block;
	width: 50%;
}

#compName {
	text-align: center;
	width: 100%;
	font-size: 9pt;
}

#buzzBanner {
	color: transparent;
	width: 100%;
	height: 5pt;
	background-color: green;
	overflow: hidden;
	transition: height .5s, color 1s;
	-webkit-transition: height .5s, color 1s;
	-moz-transition: height .5s, color 1s;
	-ms-transition: height .5s, color 1s;
	-o-transition: height .5s, color 1s;
}

#buzzBanner:hover {
	height: 15pt;
	color: white;
}

#recBanner {
	width: 100%;
	height: 5pt;
	background-color: red;
	color: transparent;
	overflow: hidden;
	transition: height .5s, color 1s;
	-webkit-transition: height .5s, color 1s;
	-moz-transition: height .5s, color 1s;
	-ms-transition: height .5s, color 1s;
	-o-transition: height .5s, color 1s;
}

#recBanner:hover {
	height: 15pt;
	color: white;
}

#buttonContainer {
	width: 300pt;
	height: 25pt;
	margin: 10pt auto;
}

.button {
	padding-top: 10pt;
	display: inline-block;
	width: 50%;
	height:25pt;
	background-color: rgba(255,255,255,.1);
}

.button:hover{
	background-color: rgba(255,255,255,.3);
	color: white;
}